<!--
<div id="listGames">

    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand"></a>
            </div>
            <div *ngFor="let info of infoGame;" (click)="gotoDetail(info)" class="container-fluid">
                <ul class="nav navbar-nav">
                    {{info.Matchs_Name}}
                    {{info.Matchs_Odds_1}}
                    {{info.Matchs_Odds_2}}
                    {{info.Tournament_Id}}
                </ul>
            </div>
        </div>
    </nav>
    <div class="container"></div>

</div>
<router-outlet></router-outlet> -->

