<!--Page pour chaque onglets de la navbar du menu principal-->
<!-- Menu Tournament -->
<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <div class="sidebar-nav">
                <div class="navbar navbar-default" role="navigation">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <span class="visible-xs navbar-brand">Tournament menu</span>
                    </div>
                    <div class="navbar-collapse collapse sidebar-navbar-collapse" *ngFor="let tourn of tourns" (click)="gotoDetailOneVideoGame(game)">
                        <ul class="nav navbar-nav">
                            <li class="active"><a href="#">{{tourn.name}}</a></li>
                        </ul>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>
        <div class="col-sm-9">
            <!--<div class="container">-->
                    <!--<table class="panel panel-default">-->
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Match</th>
                                <th>Best of</th>
                                <th>1</th>
                                <th>2</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let match of matches">
                                <td><a [routerLink]="['/detailmatch/',  match._id]" data-toggle="tooltip" data-placement="bottom" title="{{match._id}}">{{match.name}}</a></td>
                                <td>{{match.bestof}}</td>

                                <td>{{match.odds[0]?.value[0]}}</td>

                                <td>{{match.odds[0]?.value[1]}}</td>
                            </tr>
                        </tbody>
                    </table>
                <!--</table>-->
            <!--</div>-->
        </div>
    </div>
</div>

