
<div class="container">
<table class="panel panel-default">
    <table class="table">
        <thead>
            <tr>
                <!--<th>icon match</th>-->
                <th>Icon</th>
                <th>Match</th>
                <th>Best of</th>
                <th>1</th>
                <th>2</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let info of infoGame;" (click)="gotoDetailOneVideoGame(info.name)">
                <td><img src="../src/resources/images/{{info.videogame.img}}" width="23" height="23"></td>
                <td><a [routerLink]="['/detailmatch/',  info._id]" data-toggle="tooltip" data-placement="bottom" title="{{info._id}}">{{info.name}}</a></td>
                <td> {{info.bestof}}</td>
                <!--if not odds no continued-->
                <td> {{info.odds[0]?.value[0]}}</td>
                <td> {{info.odds[0]?.value[1]}}</td>
            </tr>

        </tbody>
    </table>
</table>
</div>
<div class="container">
    <table class="panel panel-default">
        <table class="table">
            <thead>
            <tr>
                <!--<th>#</th>-->
                <th>Tournament</th>
                <th>Date</th>
                <th>Hour</th>
                <!--<th>Video Game</th>-->

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tourn of tournament;" (click)="gotoDetail(tourn)">
                <!--<td>{{tourn._id}}</td>-->
                <td> {{tourn.name}} </td>
                <td> {{tourn.date}}</td>
                <td>{{tourn.hour}}</td>
                <!--<td> {{tourn.videogame}}</td>-->
            </tr>

            </tbody>
        </table>
    </table>
</div>


