
<div class="container">
<table class="panel panel-default">
    <table class="table">
        <thead>
            <tr>
                <th>icon match</th>
                <th>Match</th>
                <th>Best of</th>
                <th>1</th>
                <th>2</th>
            </tr>
        </thead>
        <tbody>

            <tr *ngFor="let info of infoGame;" (click)="gotoDetailOneVideoGame(info._id)">
                <td></td>
                <td><a href="infogame.component.html" data-toggle="tooltip" data-placement="bottom" title="{{info._id}}">{{info.name}}</a></td>
                <td> {{info.bestof}}</td>
                <td><!-- <button type="button">{{info.odds[0].value[0]}}</button>--></td>

                <td> <!--<button type="button">{{info.odds[0].value[1]}}</button>--></td>
            </tr>

        </tbody>
    </table>
</table>
</div>
<div class="container">
    <table class="panel panel-default">
        <table class="table">
            <thead>
            <tr>
                <th>#</th>
                <th>Tournament</th>
                <th>Date</th>
                <th>Hour</th>
                <th>Video Game</th>

            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tourn of tournament;" (click)="gotoDetail(tourn)">
                <td>{{tourn._id}}</td>
                <td> {{tourn.name}} </td>
                <td> {{tourn.date}}</td>
                <td>{{tourn.hour}}</td>
                <td> {{tourn.videogame}}</td>
            </tr>

            </tbody>
        </table>
    </table>
</div>
<router-outlet></router-outlet>

